@{
    ViewData["Section"] = "Posts";
    ViewData["Subsection"] = "List";
}

<div id="search-section">
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn" style="background: #1dd1a1; color: white;"><svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg> Toggle Search Options</button>
            </div>
            <input type="text" class="form-control" placeholder="Ex: blue_sky cloud 1girl" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn" style="background: #218c74; color: white;">Search</button>
            </div>
        </div>
    </form>
</div>

<div id="art-container">
    <div class="row">
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Crystalic Girl</h5>
                    <p class="card-text">Made by idkWho <br />Uploaded: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/2.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Neko Girl</h5>
                    <p class="card-text">Made by idkWho <br />Uploaded: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/3.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Neko Girl</h5>
                    <p class="card-text">Made by idkWho <br />Uploaded: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/4.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Neko Girl</h5>
                    <p class="card-text">Made by idkWho <br />Uploaded: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/5.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Neko Girl</h5>
                    <p class="card-text">Made by ixy <br />Uploaded: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/6.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Neko Girl</h5>
                    <p class="card-text">Made by ixy <br />Uploaded: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/7.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Neko Girl</h5>
                    <p class="card-text">Made by ixy <br />Uploaded: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/8.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Neko Girl</h5>
                    <p class="card-text">Made by ixy <br />Uploaded: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/9.jpeg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Neko Girl</h5>
                    <p class="card-text">Made by ixy <br />Uploaded: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/10.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Neko Girl</h5>
                    <p class="card-text">Made by ixy <br />Uploaded: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/11.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Broomstick witch</h5>
                    <p class="card-text">Made by unkown <br />Uploaded: 2020-02-04 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/12.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Hilda Valentine Goneril</h5>
                    <p class="card-text">Made by Shiseki Hirame<br />Uploaded: 2020-02-04 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/13.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Sothis (fire emblem)</h5>
                    <p class="card-text">Made by shiseki hirame<br />Uploaded: 2020-02-04 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/14.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">erina der vogelweid</h5>
                    <p class="card-text">Made by yunar<br />Uploaded: 2020-02-04 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/15.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">megumin</h5>
                    <p class="card-text">Made by shiseki hirame<br />Uploaded: 2020-02-04 13:30:26</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/16.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">michelle (bang dream!)</h5>
                    <p class="card-text">Made by shiseki hirame<br />Uploaded: 2020-02-04 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/17.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">yuzuki yukari</h5>
                    <p class="card-text">Made by ixy <br />Uploaded: 2020-02-04 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/18.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">OG</h5>
                    <p class="card-text">Made by anonymous<br />Uploaded: 2020-02-04 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/19.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">fujiwara no mokou</h5>
                    <p class="card-text">Made by yaye <br />Uploaded: 2020-02-04 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/20.png" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">princess daisy</h5>
                    <p class="card-text">Made by misowhite<br />Uploaded: 2020-02-04 13:30:26</p>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="mt-5">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link custom-notactive-page" href="#">1</a>
        </li>
        <li class="page-item active">
            <a class="page-link custom-active-page" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link custom-notactive-page" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link custom-notactive-page" href="#">Next</a>
        </li>
    </ul>
</nav>
