@{
    ViewData["Section"] = "Posts";
    ViewData["Subsection"] = "Trending";
}

<div id="trending-tab">
    <h3>Trending Tags</h3>
    <a type="button" class="btn btn-light" style="border: 1px solid #6c757d;">Trap</a>
    <a type="button" class="btn btn-light" style="border: 1px solid #6c757d;">2 girls</a>
    <a type="button" class="btn btn-light" style="border: 1px solid #6c757d;">Animated</a>
    <a type="button" class="btn btn-light" style="border: 1px solid #6c757d;">Black hair</a>
    <a type="button" class="btn btn-light" style="border: 1px solid #6c757d;">Fate/Stay Night</a>
    <a type="button" class="btn btn-light" style="border: 1px solid #6c757d;">Large Breasts</a>
    <a type="button" class="btn btn-light" style="border: 1px solid #6c757d;">Tohsaka Rin</a>
    <a type="button" class="btn btn-light" style="border: 1px solid #6c757d;">Trap</a>
    <a type="button" class="btn btn-light" style="border: 1px solid #6c757d;">2 girls</a>
    <a type="button" class="btn btn-light" style="border: 1px solid #6c757d;">Animated</a>
    <a type="button" class="btn btn-light" style="border: 1px solid #6c757d;">Black hair</a>
    <a type="button" class="btn btn-light" style="border: 1px solid #6c757d;">Fate/Stay Night</a>
    <a type="button" class="btn btn-light" style="border: 1px solid #6c757d;">Large Breasts</a>
    <a type="button" class="btn btn-light" style="border: 1px solid #6c757d;">Tohsaka Rin</a>
</div>


<div id="art-container">
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20">
                <img src="~/img/prototyping/arts/1.jpg" class="card-img-top" />
                <div class="card-footer">
                    <h5 class="card-title">Some art name</h5>
                    <p class="card-text">Made by VINNY:tm:<br />Uploaded: 23:07 21/02/2020</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="see-more-div" class="mt-4">
    <button type="button" class="btn sidebar-btn" style="width: 100%">See more...</button>
</div>