@{
    ViewData["Section"] = "";
    ViewData["Subsection"] = "Not found";
}

<h1>@ViewBag.ErrorMessage</h1>
<p>
    ＼(º □ º l|l)/ Page not found!. Are you sure your link is correct?<br />
    <a href="/">Click here to go back to homepage!</a>
</p>

