@{
    ViewData["Section"] = "Pools";
    ViewData["Subsection"] = "List";
}

<div id="search-section">
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn" style="background: #1dd1a1; color: white;"><svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg> Toggle Search Options</button>
            </div>
            <input type="text" class="form-control" placeholder="Ex: blue_sky cloud 1girl" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn" style="background: #218c74; color: white;">Search</button>
            </div>
        </div>
    </form>
</div>

<div id="art-container">
    <div class="row">
        <div class="col-sm">
            <div class="card w-20" id="card-0">
                <div class="carousel slide" data-interval="9007199254740" data-ride="false" data-keyboard="false" style="overflow:hidden">
                    <div class="carousel-item active">
                        <img src="~/img/prototyping/arts/thumbnails/1-thumbnail.jpg" class="card-img-top" alt="First Slide" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/prototyping/arts/thumbnails/2-thumbnail.jpg" class="card-img-top" alt="Second Slide" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/prototyping/arts/thumbnails/3-thumbnail.jpg" class="card-img-top" alt="Third Slide" />
                    </div>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Cute girls</h5>
                    <p class="card-text">Created by idkWho <br />Uploaded: 2020-02-03 13:30:26<br />Last Updated: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20" id="card-1">
                <div class="carousel slide" data-interval="9007199254740" data-ride="false" data-keyboard="false" style="overflow:hidden">
                    <div class="carousel-item active">
                        <img src="~/img/prototyping/arts/thumbnails/1-thumbnail.jpg" class="card-img-top" alt="First Slide" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/prototyping/arts/thumbnails/2-thumbnail.jpg" class="card-img-top" alt="Second Slide" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/prototyping/arts/thumbnails/3-thumbnail.jpg" class="card-img-top" alt="Third Slide" />
                    </div>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Cute girls</h5>
                    <p class="card-text">Created by idkWho <br />Uploaded: 2020-02-03 13:30:26<br />Last Updated: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20" id="card-2">
                <div class="carousel slide" data-interval="9007199254740" data-ride="false" data-keyboard="false" style="overflow:hidden">
                    <div class="carousel-item active">
                        <img src="~/img/prototyping/arts/thumbnails/1-thumbnail.jpg" class="card-img-top" alt="First Slide" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/prototyping/arts/thumbnails/2-thumbnail.jpg" class="card-img-top" alt="Second Slide" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/prototyping/arts/thumbnails/3-thumbnail.jpg" class="card-img-top" alt="Third Slide" />
                    </div>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Cute girls</h5>
                    <p class="card-text">Created by idkWho <br />Uploaded: 2020-02-03 13:30:26<br />Last Updated: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20" id="card-3">
                <div class="carousel slide" data-interval="9007199254740" data-ride="false" data-keyboard="false" style="overflow:hidden">
                    <div class="carousel-item active">
                        <img src="~/img/prototyping/arts/thumbnails/1-thumbnail.jpg" class="card-img-top" alt="First Slide" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/prototyping/arts/thumbnails/2-thumbnail.jpg" class="card-img-top" alt="Second Slide" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/prototyping/arts/thumbnails/3-thumbnail.jpg" class="card-img-top" alt="Third Slide" />
                    </div>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Cute girls</h5>
                    <p class="card-text">Created by idkWho <br />Uploaded: 2020-02-03 13:30:26<br />Last Updated: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card w-20" id="card-4">
                <div class="carousel slide" data-interval="9007199254740" data-ride="false" data-keyboard="false" style="overflow:hidden">
                    <div class="carousel-item active">
                        <img src="~/img/prototyping/arts/thumbnails/1-thumbnail.jpg" class="card-img-top" alt="First Slide" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/prototyping/arts/thumbnails/2-thumbnail.jpg" class="card-img-top" alt="Second Slide" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/prototyping/arts/thumbnails/3-thumbnail.jpg" class="card-img-top" alt="Third Slide" />
                    </div>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Cute girls</h5>
                    <p class="card-text">Created by idkWho <br />Uploaded: 2020-02-03 13:30:26<br />Last Updated: 2020-02-03 13:30:26</p>
                </div>
            </div>
        </div>
    </div>
    @* <div class="row mt-3"> *@
    @*     <div class="col-sm"> *@
    @*         <div class="card w-20"> *@
    @*             <div class="carousel slide" data-keyboard="false" style="overflow:hidden"> *@
    @*                 <div class="carousel-item active"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/1-thumbnail.jpg" class="card-img-top" alt="First Slide" /> *@
    @*                 </div> *@
    @*                 <div class="carousel-item"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/2-thumbnail.jpg" class="card-img-top" alt="Second Slide" /> *@
    @*                 </div> *@
    @*                 <div class="carousel-item"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/3-thumbnail.jpg" class="card-img-top" alt="Third Slide" /> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="card-footer"> *@
    @*                 <h5 class="card-title">Cute girls</h5> *@
    @*                 <p class="card-text">Created by idkWho <br />Uploaded: 2020-02-03 13:30:26<br />Last Updated: 2020-02-03 13:30:26</p> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @*     <div class="col-sm"> *@
    @*         <div class="card w-20"> *@
    @*             <div class="carousel slide" data-keyboard="false" style="overflow:hidden"> *@
    @*                 <div class="carousel-item active"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/1-thumbnail.jpg" class="card-img-top" alt="First Slide" /> *@
    @*                 </div> *@
    @*                 <div class="carousel-item"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/2-thumbnail.jpg" class="card-img-top" alt="Second Slide" /> *@
    @*                 </div> *@
    @*                 <div class="carousel-item"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/3-thumbnail.jpg" class="card-img-top" alt="Third Slide" /> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="card-footer"> *@
    @*                 <h5 class="card-title">Cute girls</h5> *@
    @*                 <p class="card-text">Created by idkWho <br />Uploaded: 2020-02-03 13:30:26<br />Last Updated: 2020-02-03 13:30:26</p> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @*     <div class="col-sm"> *@
    @*         <div class="card w-20"> *@
    @*             <div class="carousel slide" data-keyboard="false" style="overflow:hidden"> *@
    @*                 <div class="carousel-item active"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/1-thumbnail.jpg" class="card-img-top" alt="First Slide" /> *@
    @*                 </div> *@
    @*                 <div class="carousel-item"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/2-thumbnail.jpg" class="card-img-top" alt="Second Slide" /> *@
    @*                 </div> *@
    @*                 <div class="carousel-item"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/3-thumbnail.jpg" class="card-img-top" alt="Third Slide" /> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="card-footer"> *@
    @*                 <h5 class="card-title">Cute girls</h5> *@
    @*                 <p class="card-text">Created by idkWho <br />Uploaded: 2020-02-03 13:30:26<br />Last Updated: 2020-02-03 13:30:26</p> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @*     <div class="col-sm"> *@
    @*         <div class="card w-20"> *@
    @*             <div class="carousel slide" data-keyboard="false" style="overflow:hidden"> *@
    @*                 <div class="carousel-item active"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/1-thumbnail.jpg" class="card-img-top" alt="First Slide" /> *@
    @*                 </div> *@
    @*                 <div class="carousel-item"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/2-thumbnail.jpg" class="card-img-top" alt="Second Slide" /> *@
    @*                 </div> *@
    @*                 <div class="carousel-item"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/3-thumbnail.jpg" class="card-img-top" alt="Third Slide" /> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="card-footer"> *@
    @*                 <h5 class="card-title">Cute girls</h5> *@
    @*                 <p class="card-text">Created by idkWho <br />Uploaded: 2020-02-03 13:30:26<br />Last Updated: 2020-02-03 13:30:26</p> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @*     <div class="col-sm"> *@
    @*         <div class="card w-20"> *@
    @*             <div class="carousel slide" data-keyboard="false" style="overflow:hidden"> *@
    @*                 <div class="carousel-item active"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/1-thumbnail.jpg" class="card-img-top" alt="First Slide" /> *@
    @*                 </div> *@
    @*                 <div class="carousel-item"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/2-thumbnail.jpg" class="card-img-top" alt="Second Slide" /> *@
    @*                 </div> *@
    @*                 <div class="carousel-item"> *@
    @*                     <img src="~/img/prototyping/arts/thumbnails/3-thumbnail.jpg" class="card-img-top" alt="Third Slide" /> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="card-footer"> *@
    @*                 <h5 class="card-title">Cute girls</h5> *@
    @*                 <p class="card-text">Created by idkWho <br />Uploaded: 2020-02-03 13:30:26<br />Last Updated: 2020-02-03 13:30:26</p> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
</div>

<nav class="mt-5">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link custom-notactive-page" href="#">1</a>
        </li>
        <li class="page-item active">
            <a class="page-link custom-active-page" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link custom-notactive-page" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link custom-notactive-page" href="#">Next</a>
        </li>
    </ul>
</nav>

<script>
    var carousels = document.getElementsByClassName('card');
    for (var i = 0; i < carousels.length; i++) {
        var id = "card-" + i;

        carousels[i].onmouseenter = function () {
            var targObj = document.getElementById(id);
            var c = targObj.getElementsByClassName("carousel")[0];
//
            c.setAttribute("data-interval", "5000");
            c.setAttribute("data-ride", "carousel");
            console.log(c);
        };
        carousels[i].onmouseleave = function () {
            var targObj = document.getElementById(id);
            var c = targObj.getElementsByClassName("carousel")[0];

            c.setAttribute("data-interval", "9007199254740");
            c.setAttribute("data-ride", "false");
            console.log(c);
        };
    }
</script>