@{
    ViewData["Section"] = "Home Page";
    ViewData["Subsection"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <h1 class="display-4">Welcome screen</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Nothing in here yet! Just try out different pages on the navigation bar!</p>
    </div>
</div>
