@{
    ViewData["Section"] = "Profile";
    ViewData["Subsection"] = "Help";
}

<h1>Nothing here!</h1>
<p>
    (￣▽￣*)ゞ We're sorry but this page is still in the workings!<br />If you are interested in the project's progress then please follow me on <a href="https://twitter.com/PolishedSlipper">twitter</a> for updates!
</p>

