@{
    ViewData["Section"] = "Profile";
    ViewData["Subsection"] = "My Profile";
}

<div class="card">
    <div class="card-header">
        My Profile
    </div>
    <div class="card-body">
        <div class="row">
            <div class="column w-5">
                <img src="~/img/prototyping/avatar.png" class="rounded"/>
            </div>
            <div class="col-sm">
                <b>Nickname:</b> Slipper
            </div>
        </div>
    </div>
    @* <div class="card-footer"> *@
    @* </div> *@ 
</div>